$breakpoint-mobile: 767px;
$breakpoint-tablet: 1023px;
$breakpoint-desktop-compact: 1279px;

@mixin down($breakpoint) {
    @media (max-width: $breakpoint) {
        @content;
    }
}

@mixin up($breakpoint) {
    @media (min-width: $breakpoint) {
        @content;
    }
}
