* {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

button,
input,
select,
textarea {
  font: inherit;
}

button,
select {
  cursor: pointer;
}

img,
svg,
canvas {
  display: block;
  max-width: 100%;
}
